.mainHeading{
    font-weight: 200;
    font-size: 2.5rem;
}
.noCoursesMessage{
    font-weight: 300;
    font-size: 1rem;
}
.fa-users{
    color: rgb(56, 56, 56);
    font-size: 2rem;
}

.noGroupMessage{
    font-weight: 300;
    font-size: 1rem;
}