<div class="container">
    <div class="row">
            <div class="col-sm-7">
                <h1 class="headerMainTextSmall">Bring out the</h1>
                <h1 class="headerMainTextSmall"> <b>Scientist</b> in you </h1>
                <p class="text-center"><img src=" ../../../assets/img/loginPic.png"  class="loginPageImage" alt="" srcset=""></p>
            </div>
        <div class="col-sm-4">
            <div class="loginComponent">
                    <app-login></app-login>
            </div>  
        </div>
        <div class="col-sm-1">  
        </div>
    </div>    
</div>
