
/* headings */
.headerMainTextLarge{
    margin: 60px 0px 10px 0px;
    font-weight: 100;
    font-size: 6em;
    text-align: center;
    color: #4682ec;
}

.headerMainTextSmall{
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: #4276cf;
}

// 

.img-fluid{
    max-width: 340px;;
}



// ===== media queries for responsive text =====

//large heading
@media (min-width: 300px) {  
    .headerMainTextLarge {font-size:  4.5em}
}
@media (min-width: 600px) {  
    .headerMainTextLarge {font-size:  5.5em}
}

//small heading
@media (min-width: 300px) {  
    .headerMainTextSmall {font-size:  1.5em}
}

@media (min-width: 600px) {  
    .headerMainTextSmall {font-size:  1.9em}
}

@media (min-width: 992px) { 
    .headerMainTextSmall {font-size:  2em}
}

@media (min-width: 1200px) {  
    .headerMainTextSmall { font-size: 3em;}
}
