<div class="card text-center">
    <div class="card-body">
      <h1 class="mainHeading">My Courses</h1>
      <hr>

      <div *ngIf="this.courses">
        <div *ngFor="let course of courses; let i = index">
          <app-course-tiny-preview [course]="course"></app-course-tiny-preview>
        </div>
      </div>

      <div *ngIf="this.courses.length===0">
        <h3 class="noCoursesMessage"> you have no courses assigned yet :(</h3>
      </div>

      <div>
      </div>

    </div>
  </div>
