.imageCard{
    padding: 15px;
}
.comicImage{
    width: 100%;
    object-fit: cover;
    height: 600px;
    position: relative; 
}

.headingMain{
    text-align: center;
    padding: 20px;
    font-weight: 200;
    font-size: 2.5rem;
}
