<div class="container">
    <div *ngIf="this.activity">
        <h1 class="mainHeading">{{activity.title}}</h1>
        <hr>

        <!-- introduction -->
        <app-activity-introduction [activity]="activity" *ngIf="this.pageCount===0"></app-activity-introduction>

        <!-- project goals -->
        <app-activity-goals [activity]="activity" *ngIf="this.pageCount===1" ></app-activity-goals>

        <!-- project goals -->
        <app-activity-meterial-required [activity]="activity" *ngIf="this.pageCount===2"></app-activity-meterial-required>

        <!-- project goals -->
        <app-activity-building-goals [activity]="activity" *ngIf="this.pageCount===3"></app-activity-building-goals>

        <!-- end of activity -->
        <app-activity-end  *ngIf="this.pageCount===4" ></app-activity-end>

        <!-- page changer -->
        <div class="alignCenter">
            <ul class="pagination pagination-lg">
                <li class="page-item">
                    <a class="page-link" (click)="goBackAPage()" >&laquo;</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="goFowardAPage()" disabled="true">&raquo;</a>
                </li>
            </ul>
        </div>

                        
    </div>
</div>


