<div class="container">
    <h4>Do Activity</h4>
    <hr>
    
    <div *ngIf="this.activity">
        <h2 >
                {{activity.title}}
        </h2>
        <br>
    
        <div class="card">
            <div class="card-body">
        
                    <h4 class="card-title">Introduction</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Comic</h6>
                    <br>
        
                    <div  class="row">
                        <div class="col-sm-6" *ngFor="let url of activity.comicPicUrls">
                            <img src="{{url}}" alt="url" style="width:100%">
                        </div>
                    </div>                 
                        
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body">
                    <h4 class="card-title">Project Goals</h4>
                    <ul class="list-group">
                        <li  *ngFor="let projectGoalText of activity.projectGoals.texts; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                            {{i+1}}. {{projectGoalText}}
                        </li>
                    </ul>     
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body">
        
                    <h4 class="card-title">Materials Required</h4>
    
                    <div  class="row">
                        <div class="col-sm-6" *ngFor="let url of activity.materialsRequired.imageUrls">
                            <img src="{{url}}" alt="url" style="width:100%">
                        </div>
                    </div>      
                        
            </div>
        </div> 
        
        <div class="card">
            <div class="card-body">
        
                    <h4 class="card-title">Building Goals</h4>
                    <div  class="row">
                        <div class="col-sm-6" *ngFor="let url of activity.buildingGoals.imageUrls">
                            <img src="{{url}}" alt="url" style="width:100%">
                        </div>
                    </div> 
                        
            </div>
        </div> 
                        
    </div>
</div>
