<div class="container">
    <h1 class="mainHeading">
        Student Dashboard
    </h1>
    <hr>
    
    <div class="row">
   
        <div class="col-md-6">
            <app-my-courses class="dashboardComponent"></app-my-courses>
        </div>
        <div class="col-md-4">
            <div class="dashboardComponent">
                <app-profile></app-profile>
            </div>
            <div class="dashboardComponent">
                <app-my-groups ></app-my-groups>
            </div>
                    
        </div>
        
    </div>
</div>